*.iml

.gradle
.aar
.map.properties
/local.properties
.idea/**
=======
/.idea/workspace.xml
.idea/misc.xml
./idea/runConfigurations.xml
/.idea/libraries
.DS_Store
build/
!app/build.gradle
aFileChooser/build
/captures
.externalNativeBuild