<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ibsanalyzer.diary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.ibsanalyzer.application.MyCustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/foodanalyzer_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/foodanalyzer_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ibsanalyzer.diary.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.MealActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.RatingActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.BmActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity android:name="com.ibsanalyzer.diary.TagAdderActivity"/>
        <activity
            android:name="com.ibsanalyzer.diary.OtherActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.ExerciseActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <!-- The 'adjust-pan' is for that the soft keyboard should not push up views -->
        <activity
            android:name="com.ibsanalyzer.diary.SaveEventsTemplateActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.EditEventsTemplateActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.diary.LoadEventsTemplateActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>

        <service
            android:name="com.ibsanalyzer.external_storage.SaveDBIntentService"
            android:exported="false">
        </service>

        <activity
            android:name="com.ibsanalyzer.diary.TagTemplateAdderActivity"
            android:parentActivityName="com.ibsanalyzer.diary.TagAdderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.TagAdderActivity"/>
        </activity>
        <activity android:name="com.ibsanalyzer.diary.TagTemplateEditActivity">
        </activity>
        <activity
            android:name="com.ibsanalyzer.settings.StatSettingsActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ibsanalyzer.settings.GeneralSettingsActivity"
            android:parentActivityName="com.ibsanalyzer.diary.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibsanalyzer.external_storage.FilePicker">
        </activity>
        <activity android:name="com.ibsanalyzer.diary.AverageStatActivity">
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity android:name="com.ibsanalyzer.diary.BlueZoneStatActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity android:name="com.ibsanalyzer.diary.CompleteStatActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity android:name="com.ibsanalyzer.diary.BristolStatActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibsanalyzer.diary.MainActivity"/>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>